/* eigene css */

		.hidden {
			display: none;
		}
		.bg-info, .bg-danger {
			border: 1px solid #111;
			padding: 2px;
			background-color: #fafffa;
			margin-left: auto;
			margin-right: auto;
		}
		.bg-danger {
			background-color: #fffafa;
		}


   .bg-info > p {
	  /*direct child */
     margin: 2px; 
   }

   .bg-warn > p {
	  /*direct child */
     margin: 2px; 
   }
  
  h1 {
		font-size: 120%;
	} 
	h2 {
		display:		inline-block;
		font-size:	110%;
		margin: 2px;
	}
	.ui-slider-input {
    display : none !important;
	}
/*
  .ui-slider {
		width:	70% !important;
	}
  .ui-slider-track{
		margin: 0pt;
	}
*/